/**
 * Copyright © 2017 Day4Code. All rights reserved.
 * See COPYING.txt for license details.
 */

@tce-dark: #303030;
@tce-white: #fff;
@tce-orange: #eb5301;
@tce-green: #79a22e;
@tce-blue: #03A9F4;


@keyframes animate-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.tce * {
    font-family: 'Alegreya Sans', sans-serif;
}

.icon-font {
    -webkit-font-smoothing: antialiased;
    font-family: 'Linearicons-Free';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

.tce-tcf {
	* {
		box-sizing: border-box;
		font-size: 14px;
    }

    &.syncing {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 99;
            background: fade(@tce-white, 70%);
        }

        &:after {
            .icon-font;
            display: block;
            position: absolute;
            color: #a9a6a0;
            font-size: 60px;
            top: 50%;
            left: 50%;
            z-index: 100;
            animation: animate-rotate 1s infinite steps(10);
            content: '\e862';
        }
    }

    .label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
    }

	.title, .label {
		text-transform: capitalize;
		margin: 4px;
		font-weight: bold;
        font-size: 16px;
        padding-right: 16px;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;

        input[type="text"] {
            width: 48%;
            flex-grow: 1;
            min-width: 300px;
            display: inline-block;
        }

        button {
            width: 130px;
            margin: 8px;

            &:focus {
                outline: none;
            }
        }
    }

    .ql-toolbar {
        width: 80%;
        margin: 8px;
        background: #fafafa;
    }

    input[type="text"], input[type="number"], input[type="email"], .textarea {
        display: block;
		width: 98%;
		height: auto;
		padding: 10px 8px 10px;
		margin: 8px 1%;
		color: @tce-dark;
		-webkit-appearance: none;
		background-color: @tce-white;
        border: 1px solid #adadad;
        border-radius: 1px;
		box-shadow: none;
		font-weight: 400;
		transition: border-color .1s linear;
        vertical-align: baseline;

        &:focus {
			outline: none;
            background: #eee;
            border-color: @tce-orange;
		}
    }

	input[type="text"], input[type="number"], input[type="email"] {
		height: auto;
		&:focus {
			outline: none;
            background: #eee;
            border-color: @tce-orange;
		}
	}
	.textarea {
        min-height: 100px;
    }

    .img-preview {
        display: block;
        width: 100%;
        padding-bottom: 10%;
        transition: 1s padding ease;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.none {
            display: none;
        }

        &:hover {
            padding-bottom: 100%;
        }
    }

    .x-styles {
        display: flex;
        flex-wrap: wrap;
        align-items: start;

        .x-style {
            margin: 4px;

            &.x-image {
                position: relative;
                button.mage-btn {
                    padding-left: 34px;
                    height: 30px;

                    &:hover, &:focus {
                        transform: scale(1.0);
                    }
                }
                .img-preview {
                    position: absolute;
                    z-index: 2;
                    left: 8px;
                    top: 8px;
                    width: 30px;
                    padding-bottom: 30px;
                    border-radius: 4px 0 0 4px;
                    transition: 1s all ease;

                    &:hover {
                        left: 0;
                        top: 0;
                        width: 100%;
                        padding-bottom: 100%;
                        border-radius: 4px;
                        transition: 1s all ease;
                    }
                }
            }
        }

        input.x-style {
            width: 100px;
            flex-grow: 1;
        }
    }

    .radio-set, .checkbox-set {
        display: block;
        margin: 8px 16px;

        &:hover {
            background-color: rgba(200, 200, 200, 0.15);
        }
    }

    .repeater-set {
        right: 1px;
        top: 0;
        position: absolute;

        button {
            width: 18px;
            height: 18px;
            cursor: pointer;
            padding: 0;
            margin: 4px 2px;
            border-radius: 18px;
            overflow: hidden;
            display: block;
            border: none;

            &:focus, &:hover {
                outline: none;
            }

            &:before {
                .icon-font;
                content: '';
                color: #fff;
                font-size: 20px;
                height: 100%;
                width: 100%;
                display: block;
                line-height: 16px;
            }

            &.add:before {
                content: '\e881';
            }

            &.remove:before {
                content: '\e882';
            }
        }
    }

    .arrange-set {
        position: absolute;
        top: -16px;
        left: 0;
        width: 100%;
        text-align: center;

        button {
            cursor: pointer;
            padding: 0;
            margin: 4px 2px;
            border-radius: 4px;
            overflow: hidden;
            border: none;

            &:focus, &:hover {
                outline: none;
            }

            &:before {
                content: '';
                color: #fff;
                font-size: 16px;
                height: 20px;
                width: 20px;
                display: block;
                line-height: 18px;
            }

            &.up:before {
                content: '⇧';
            }

            &.down:before {
                content: '⇩';
            }
        }
    }

    .tce-slot {
        &+.container {
            max-height:  0;
            overflow:  hidden;
            transition: 1s all ease;
        }

        &.tce-slot-visible {
            &+.container {
                max-height:  90vh;
                overflow:  scroll;
            }
        }
    }

    .tce-table {
        position: relative;
        overflow: scroll;
        padding-bottom: 30px;

        table td {
            border: 1px solid #333;
            background: #eee;
            outline: none;
            padding: 2px 4px;
            min-width: 30px;
            height: 24px;
            font-size: 14px;

            &[contenteditable="true"] {
                background: #fff;
                border-color: @tce-orange;
            }
        }

        span.options {
            position: absolute;

            button {
                position: relative;
                padding: 8px 8px 2px;
                border: 1px solid #aaa69e;
                background: @tce-white;
                color: @tce-dark;
                border-radius: 0;
                margin: 1px;
                outline: none;
                width: 24px;
                height: 24px;

                &:before, &:after {
                    -webkit-font-smoothing: antialiased;
                    font-family: 'Linearicons-Free';
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    speak: none;
                    color: #000;
                    font-size: 15px;
                    height: 100%;
                    width: 100%;
                    display: block;
                    line-height: 24px;
                    top: 0;
                    left: 0;
                    position: absolute;
                }

                &:after {
                    font-size: -14px;
                    background: rgba(255, 0, 0, 0.25);
                }

                &.paste:before {
                    content: '\e81e';
                }

                &.row.add:before {
                    content: '\e884';
                }
                &.row.del:before {
                    content: '\e883';
                }
                &.row.del:after {
                    content: '\e870';
                }

                &.col.add:before {
                    content: '\e886';
                }
                &.col.del:before {
                    content: '\e885';
                }
                &.col.del:after {
                    content: '\e870';
                }
            }
        }
    }
}

.tce-view {
    min-height: 20vh;
    display: none !important;

    &.isvisible {
        display: block !important;
    }

    &.tce-invalid {
        border: 2px solid @tce-orange;
    }
}

button.mage-btn {
    background-color: @tce-orange;
    border-color: @tce-orange;
    color: @tce-white;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    border: 1px solid;
    border-radius: 0;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 8px;
    margin: 8px;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    transform: scale(1);
    transition: .2s transform ease-in;

    &:hover, &:focus {
        outline: none;
        transform: scale(1.1);

        &:active {
            transform: scale(1.05);
        }
    }

    &.white-btn {
        font-weight: 400;
        text-shadow: none;
        border-color: #9E9E9E;
        border-radius:  3px;
        background: #FAFAFA;
        color: #424242;
        padding: 5px 10px;
    }
}

input.mage-cb {
    width: 1px;
    height: 1px;
    opacity: 0;
    display: none;
    &+label {
        text-transform: capitalize;
        cursor: pointer;
        display: inline-block;
        height: 22px;
        line-height: 22px;
        position: relative;
        user-select: none;
        vertical-align: middle;
        padding-left: 44px;
        margin-left: 8px;

        &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            right: auto;
            top: 0;
            display: block;
            height: 22px;
            border: 1px solid #aaa6a0;
        }

        &:before {
            background: @tce-white;
            border-radius: 100%;
            transition: left .2s ease-in 0s;
            width: 22px;
            z-index: 1;
        }
        &:after {
            background: #e3e3e3;
            border-radius: 12px;
            transition: background .2s ease-in 0s;
            width: 37px;
            z-index: 0;
        }
    }
    &:checked {
        &+label {
            &:before {
                left: 15px;
            }
            &:after {
                background: @tce-green;
            }
        }
    }

    &.cb-vertical {
        &+label {
            padding-left: 30px;
            &:before, &:after {
                width: 22px;
                margin-top: -11px;
            }
            &:before {
                height: 22px;
                top: 0;
                left: 0;
            }
            &:after {
                height: 37px;
            }
        }
        &:checked {
            &+label {
                &:before {
                    top: 15px;
                }
                &:after {
                    background: @tce-blue;
                }
            }
        }
    }
}

.tce-views {
    &>span {
        margin: 16px;
        display: inline-block;

        input.mage-cb:checked+label:after {
            background: @tce-blue;
        }

        label {
            font-weight: 600;
        }
    }
}

.tce {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

	div.container {
		border: 1px solid rgba(0, 0, 0, 0.05);
        background: rgba(200, 200, 200, 0.05);
        box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
        transition: .5s all ease;
		padding: 4px;
        margin: 4px;

        &.has-opts {
            padding-right: 16px;

            &:first-child>.arrange-set>button.up, &:last-child>.arrange-set>button.down {
                pointer-events: none;
                background: #9E9E9E;
                display: none;
            }
        }

        &:hover {
            background: rgba(200, 200, 200, 0.15);
            box-shadow: 1px 1px 10px rgba(0,0,0,0.35);
        }

        &.highlight {
            background: rgba(0, 0, 0, 0.65);

            label {
                color: #fff;
            }
        }

        &:only-child {
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 2px;

            &:hover {
                background: transparent;
                box-shadow: none;
            }

            &.highlight {
                background: transparent;
            }
        }
    }

    div.set {
        position: relative;
    }
}
.tce-popup {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &-backdrop {
        position: absolute;
        display: block;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);

        &-window {
            background: rgba(0,0,0,0.1);
        }
    }

    &-container {
        position: absolute;
        z-index: 9999;
        transform: translate(-55%, -55%);
        background: #fff;
        box-shadow: 1px 1px 10px #000;
        padding: 10px;
        margin: 5%;
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 700px;
        height: 90vh;
        max-height: 500px;

        .row {
            width: 100%;
            display: block;
            margin: 15px 0;
            box-shadow: 0px 0px 10px #ddd;

            &.actions {
                text-align: right;

                p {
                    color: @tce-orange;
                    float: left;
                    padding: 0 10px;
                }

                .mage-btn {
                    min-width: 100px;

                    &.white-btn {
                        min-width: 80px;
                    }
                }
            }
        }

        textarea {
            width: 100%;
            max-width: 100%;
            min-height: 100px;
            outline: none;

            &:focus {
                background: #eee;
                border-color: @tce-orange;
            }
        }
    }
}

#tce-msg-prompt-popup {
    display: none;
    .tce-popup-container {
        width:  auto;
        height:  auto;
        padding: 20px 40px;

        .row {
            box-shadow: none;
            width: 300px;
            max-width: 100%;
        }
    }
}

#template-content-code, .tce-tcf, .tce-tcp {
    width: 46%;
    min-width: 400px;
    flex-grow: 1;
    margin: 2% auto;
    padding: 1%;
    background: #f8f8f8;
    border-top: 2px solid #aaa69f;
    border-bottom: 2px solid #aaa69f;
    position: relative;
    box-shadow: 0px 0px 40px #eee;

	>div {
		max-width: 900px;
		margin: 0 auto;
	}
}

.tce-tcp iframe {
    width: 100%;
    display: block;
    margin: 0 auto;
    min-height: 80vh;
    box-sizing: border-box;
    border: 15px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5), inset -1px -1px 5px 1px rgba(0,0,0,0.3);
    transition: 1s all ease;
}

.tce-tcp.mobile iframe {
    width: 400px;
    height: 780px;
    min-height: auto;
    border: 1px solid #888;
    border-top: 40px solid #111;
    border-bottom: 80px solid #111;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5), inset 0px 0px 10px 1px rgba(0,0,0,0.5);
}

#tce-preview-image {
    position: fixed;
    pointer-events: none;
    width: 150px;
    max-height: 150px;
    object-fit: contain;
    display: none;
    border-radius: 25px;
    border-top-left-radius: 0;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

    &.active {
        display: block;
    }
}

h5.error {
    background: #eee;
    font-weight: 400;
    color: @tce-orange;
    width: 100%;
    padding: 16px;
    margin: 2px;

    &:before {
        margin-right: 8px;
    }
}